# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/libs/
/src/generated/resources/.cache/
疾病系统设计文档总结.md
开发计划书.md
需求.md
ISSUE_PHYSICSMOD_FOR_AUTHOR.md
